$background-color: #dde9f3;
$header-color: #2b5173;
$nav-color: #3d5366;
$input-border-color: #203c56;
$input-background-color: #c0d5e8;
$modal-background-color: #a6b9c9;
$gym-button-border-color: #c9d4de;
$gym-button-background-color: #0d304e;
$gym-button-font-color: #e0eefa;
