@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
$montserrat-sans: Montserrat, sans-serif;

body {
  position: relative;
}

header {
  color: $header-color;
  font-family: $montserrat-sans;
  margin-top: 35px;
}

.nav-buttons {
  float: right;
  margin: 0 auto;
  margin-top: -50px;
  margin-right: 30px;
}

.navbar {
  background-color: $nav-color;
}

.nav-styling {
  color: $header-color;
  font-family: $montserrat-sans;
}

.gym-entry-fields {
  margin-top: 60px;
  text-align: center;
}

.climb-entry-fields {
  margin-top: 10px;
}

.section1 {
  background-image: url('http://i.imgur.com/ZxvmZhm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 780px;
  text-align: center;
  padding: 50px;
}

.section2 {
  background-color: $background-color;
  height: 780px;

}

.section3 {
  height: 500px;
}
