@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
$montserrat-sans: Montserrat, sans-serif;
$asset-path: '../img';

body {
  position: relative;
}

.section-headers {
  color: $header-color;
  font-family: $montserrat-sans;
}


.site-info {
  background-color: $input-background-color;
  border: 10px solid;
  border-color: $input-border-color;
  border-radius: 60px;
  height: 140px;
  margin: 0 auto;
  margin-top: 180px;
  text-align: center;
  width: 700px;
}

.modal-content {
  background-color: $modal-background-color;
}

.nav-buttons {
  float: right;
  margin: 0 auto;
  margin-right: 70px;
  margin-top: -50px;
}

.navbar {
  background-color: $nav-color;
}

.nav-styling {
  color: $header-color;
  font-family: $montserrat-sans;
}

.enter-info {
  background-image: url('/assets/img/joshua-tree.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 780px;
  padding: 50px;
  text-align: center;
}

.climb-inputs {
  background-color: $input-background-color;
  border: 10px solid;
  border-color: $input-border-color;
  border-radius: 60px;
  height: 180px;
  margin: 0 auto;
  margin-top: 45px;
  text-align: center;
  width: 610px;
}

.list-climbs {
  background-image: url('/assets/img/section-2-background.png');
  height: 850px;
}

.my-climbs {
  color: $gym-button-font-color;
  text-align: center;
}

.positioning {
  height: 100px;
}

.show-buttons {
  background-color: $gym-button-background-color;
  border: 10px solid;
  border-color: $gym-button-border-color;
  border-radius: 60px;
  height: 140px;
  margin: 0 auto;
  width: 680px;
}

.gyms-container {
  margin: 0 auto;
  text-align: center;
}

.climb-list {
  background-color: $gym-button-background-color;
  border: 5px solid;
  border-color: $gym-button-border-color;
  border-radius: 50px;
  color: $climb-list-font-color;
  display: inline-block;
  height: 150px;
  margin-left: 15px;
  margin-top: 15px;
  padding-top: 10px;
  text-align: center;
  width: 290px;
}

.update-delete-modals {
  padding: 6px;
}

.training {
  background-image: url('/assets/img/section-3-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1100px;
}

.dropdown {
  margin-left: 35%;
  padding-top: 150px;
}

.jumbotron {
  margin: 0 auto;
  margin-top: 40px;
  width: 500px;
}

.inner {
  position: absolute;
}

.crimp {
  height:320px;
  width: 340px;
  border: 5px solid;
  border-radius: 10px;
}
